body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(117, 168, 66);
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid red; */
}



img {
    position:relative;
    image-rendering: pixelated;
}

img#leaf {
    height: 40vh;
}

img#pedal {
    height: 35vh;
}